* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Segoe UI", "Liberation Sans", sans-serif;
    font-size: 18px;
    color: #202020;
    background: linear-gradient(180deg, #bee2ff, #4a4b55);
}

h1, h2, h3 {
    margin-bottom: 5px;
}

p {
    margin-bottom: 3px;
}

ul {
    padding-left: 20px;
}
